body {
	margin:auto;
    font-family: 'Lobster', cursive;
}

/* -------------------------------------------Header -----------------------------------------------*/

.header {
	background-color: #fff;
	font-family: 'Lobster', cursive;
    /*border-style: solid; */
    /*border-color: white; */ 
}

.logo-box {
    padding-top: 2px;   
    
   /* border-style: solid; */
   /* border-color: white; */
    
}


/* -------------------------------------------Menu Header & buttons -----------------------------------------------*/

.menu-header {
    background-image: url(../images/menuheader.jpg);
    background-size: cover;
    height: 100px;
    border-bottom: black 5px;
}

.buttons {
	margin:auto; /* center div in the page */
	width: 700px;	
}

.buttons>a {
	/* select <a> hyperlinks within the .menu element */
    margin-top: 18px;
    float: left;
	display:inline-block;
	background-color: #fff;
	border-radius: 2px; /* button roundness */
	padding:20px;
	font-size:1.4em;
	text-decoration:none; /* remove underline */
	margin-right:10px; /* button space */
    margin-bottom: 3px;
    opacity: 0.8;
}

.buttons>a:hover {
	background-color: #F0F0F0; /* hover colour */
	color: black;
}

.listed {
	width: 1100px;	
    padding-top: 10%;
    font-size:1.4em;
    float-right: 50px;
    color: white;
    /*font-family: Impact, Charcoal, sans-serif;*/
    
}

/* -------------------------------------------Form Display -----------------------------------------------*/

.error {
    color: red;
}

.form-box{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    padding: 3px;
    opacity: 0.8;
    text-align: left;
    border-radius: 10px; /* button roundness */
    width: 40%;
    margin-left: 33%;
}

/* -------------------------------------------Body -----------------------------------------------*/

.main {
	font-size:0.9em;
	padding: 0px 0px;
    width: 100%;
    /*border-style: solid; */
    /*border-color: black; */
    background-color: #fff; /* body background colour*/
    
}


.background-position {
    margin: auto;
    background-image: url(../images/backgrounds/b4.jpg);
	display:inline-block;
	width:100%;	
	vertical-align: top;
    height: 856px;
    background-repeat:no-repeat;
    background-size: cover;
}

.search-box {
    font-family: 'Lobster', cursive; 
    font-size: 3em;
    margin-top: center;
    margin: 150px 50px 0px 250px;
    padding-top: 20px;
    padding-left: 2%;
    padding-bottom: 20px;
    width: 55%;
    background-color: white;
    opacity: 0.8;
     display: -webkit-flex;       /* Places elements next to eachother */
    -webkit-align-items: center; /* Places elements next to eachother */
}

.search-icon {
    margin-right: 5px;
    width: 100px;
    height: 100px;
}

/* -------------------------------------------Results -----------------------------------------------*/

.results-box {
    background-color: #F0F0F0;
    padding: 10px;
    opacity: 0.5;
    text-align: center;   
}

/* -------------------------------------------Footer -----------------------------------------------*/

.footer {
    background-image: url(../images/footer1.jpg);
    background-size: cover;
    height: 100px;
    border-top: black 5px; 
}

.icon-container{
    margin: auto;
    width: 140px;
     display: -webkit-flex;       /* Places elements next to eachother */
    -webkit-align-items: center; /* Places elements next to eachother */
    margin-top: 10px;
    padding-right: 30px;
}
/* ----------------------------------Login box/logout box -----------------------------------------------*/

.log-out-button {
    float: right;
    background-color: #F0F0F0;
    padding: 3px;
    border-style: solid; 
    opacity: 0.8;
    text-align: right;
    cursor: pointer;
    border-radius: 10px; /* button roundness */
    border-color: white;
}

.login-box {
    float: right;
    background-color: #F0F0F0;
    padding: 3px;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px; /* button roundness */
}

.toggle-box {
    margin-top: 18px;
    float: right;
	display:inline-block;
	background-color: #fff;
	border-radius: 2px; /* button roundness */
	padding:10px;
	font-size:1.4em;
	text-decoration:none; /* remove underline */
	margin-right:10px; /* button space */
    margin-bottom: 3px;
    opacity: 0.8;
    cursor: pointer;
}

.toggle-box>a:hover {
	background-color: #F0F0F0; /* hover colour */
	color: black;
}

/* ----------------------------------Signup box-----------------------------------------------*/
.signup-box{
    margin-top: 100px;
    background-color: #F0F0F0;
    padding: 3px;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px; /* button roundness */
    width: 30%;
    margin-left: 33%;
}
/* --------------------------Message box, when triggered -----------------------------------------------*/
.message-box {
    background-color: #F0F0F0;
    padding: 10px;
    opacity: 0.5;
    text-align: center;
}

/* -------------------------------------------Congrats message ----------------------------------------*/

.congrats-message {
    padding: 40px;
    font-size:2.5em;
    text-align: center;
}

/* -------------------------------------------Sort Box -----------------------------------------------*/
.sort-box {
    background-color: #F0F0F0;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
}

/* ------------------------------------------- House Card -----------------------------------------------*/
.house-card {
	margin:auto; /* center div in the page */
	width: 70%;	
}

.house-card2 {
	margin:auto; /* center div in the page */
	width: 70%;	
}

.house-card {
    background: #F0F0F0;
    pacity: 0.8;
    margin-top: 10px;
    margin-bottom: 25px; 
    border: 3px solid #fff;
    padding: 20px;
    opacity: 0.9;
    height: 340px;
}

.house-card2 {
    background: #F0F0F0;
    pacity: 0.4;
    margin-top: 10px;
    margin-bottom: 25px; 
    border: 3px solid #fff;
    padding: 20px;
    opacity: 0.9;
    height: 520px;
    /*overflow: auto;*/
}

.house-card:hover {
    border: 3px solid #009ACD;
    opacity: 1.0;
}

.house-card2:hover {
    border: 3px solid #009ACD;
    opacity: 1.0;
}

.house-image { 
    padding: 10px ;
    float: left;
} 

.more-info {
    border-style: solid; 
    border-color: black;
    width: 40px;
    height: 20px;
    margin-top: 295px;
    
}

.user-id-box { 
    background: #fff;
    padding: 5px;
    height: 40px;
    min-width: 300px;
    margin-left: 150%;
    margin-bottom: 5px;
} 

.house-price { 
    background: #fff;
    padding: 5px;
    font-size: 2em;
    min-width: 300px;
    height: 30px;
    margin-left: 150%;
    margin-bottom: 5px;

} 

.house-location { 
    background: #fff;
    font-size: 2em;
    padding: 5px;
    min-width: 300px;
    height: 30px;
    margin-left: 150%;
    margin-bottom: 5px;
} 


.house-title {
    background: #fff;
    padding: 5px;
    min-width: 300px;
    height: 30px;
    margin-left: 150%;
    margin-bottom: 5px;
} 

.house-type { 
    background: #fff;
    padding: 5px;
    min-width: 300px;
    height: 30px;
    margin-left: 150%;
    margin-bottom: 5px;
} 

.house-bedroomnumber { 
    margin-bottom: 5px;
    background: #fff;
    padding: 5px;
    min-width: 300px;
    height: 30px;
    margin-left: 150%;
} 

.house-description { 
    padding: 5px;
    min-width: 300px;
    max-width: 500px;
    min-height: 30px;
    background: #fff;
    margin-left: 20%;
    margin-top: 400px;
    text-align: center;
}  

/* -------------------------------------------about -----------------------------------------------*/

.about {
    width: 1700px;
    height: auto;
    background-color:#fff;
    margin: 0 auto;
}
.img-width {
	width: 100%;
    height: 744px;
}

.col-3 {
	width: 33.3333%;
	float: left;
}

.spacing {
	padding: 15px;
}

/* flipper 1 */
#f1_container {
  display: inline-block;
  margin: 10px 10px;
  width: 100%;
  height: 744px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
   width: 100%;
  height: 744px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 744px;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

/* flipper 1 */
/* flipper 2 */
#f2_container {
    align-content: center;

  display: inline-block;
  margin: 10px 10px;
  width: 100%;
  height: 744px;
  z-index: 1;
}
#f2_container {
  perspective: 1000;
}
#f2_card {
  width: 100%;
  height: 744px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f2_container:hover #f2_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}


/* flipper 2 */
/* flipper 3 */
#f3_container {

  display: inline-block;
  margin: 10px 10px;
  width: 100%;
  height: 744px;
  z-index: 1;
}
#f3_container {
  perspective: 1000;
}
#f3_card {
  width: 100%;
  height: 744px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f3_container:hover #f3_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

/* flipper 3 */

/* -------------------------------------------help -----------------------------------------------*/

body {
	position:relative;
	z-index:0;

}

.img-width1 {
	width: 100%;
    margin-left: 500px;
    border-color: #000;
    border-style: dashed;
    border-width: 2px;
  
}

.main:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	content:'';
	background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');

}

.accordion, .accordion * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}

.accordion-section-title {
	width:100%;
	padding:20px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#4c4c4c;
	transition:all linear 0.15s;
	/* Type */
	font-size: 1.8em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#646464;

	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}
 
/* -------------------------------------------responsiveness -----------------------------------------------*/

@media all and (max-width: 1024px) {

	/* applied when the window size is less than 1024px. Used for a smaller desktop type. */
    
	.header, .main, .footer>div  {
	margin:none;
	width:auto;
	}

	.menu-header, .button {
		padding:0px 10px;
	}

	.main-header {
		padding: 10px;
	}

}

@media all and (max-width: 640px) {

    /* applied when the window size is less than 640px. */
    
    .button {
    	margin-top:10px;
    }

    .button>a {
    	display:block;
    	width:50%;
    	background-color:inherit;
    }
    .button>a:hover {
    	background-color:inherit;
    	color:inherit;
    }
    .button>a.on {
    	background-color: #000;
    	color:#fff;
    }

    .search-box {
        font-family: 'Lobster', cursive; 
        font-size: 
    	display:block;
    	width:auto;
    	margin:10px;
    }
    .search-box img {
    	margin-top:5px;
    	width:100%;
    }
    
}