body {
	margin:auto;
    font-family: 'Play', sans-serif;
}

/* -------------------------------------------Header -----------------------------------------------*/

.header {
	background-color: #fff;
	font-family: 'Play', sans-serif;
    /*border-style: solid; */
    /*border-color: white; */ 
}

.logo-box {
    padding-top: 2px;   
    
   /* border-style: solid; */
   /* border-color: white; */
    
}


/* -------------------------------------------Menu Header & buttons -----------------------------------------------*/

.menu-header {
	/* padding-bottom:5px; */
    background-color: #009ACD;
    height: 80px;
}

.buttons {
	margin:auto; /* center div in the page */
	width: 700px;	
}

.buttons>a {
	/* select <a> hyperlinks within the .menu element */
    margin-top: 10px;
    float: left;
	display:inline-block;
	background-color: #fff;
	border-radius: 2px; /* button roundness */
	padding:20px;
	font-size:1.4em;
	text-decoration:none; /* remove underline */
	margin-right:10px; /* button space */
    margin-bottom: 3px;
}

.buttons>a:hover {
	background-color: #F0F0F0; /* hover colour */
	color: black;
}

.buttons>a.on {
	/* when the hyperlink has the class 'on' */
	background-color: #000;
	color:#fff;
	font-weight:bold;
}

/* -------------------------------------------Body -----------------------------------------------*/

.main {
	font-size:0.9em;
	padding: 0px 0px;
    width: 100%;
    /*border-style: solid; */
    /*border-color: black; */
    background-color: #fff; /* body background colour*/
    
}


.background-position {
    margin: auto;
    background-image: url(../images/search-background.jpg);
	display:inline-block;
	width:100%;	
	vertical-align: top;
	font-size:0.95em;
    height: 476px;
    background-repeat:no-repeat;
}

.background-position img {
	width:100%;			
}

.search-box {
    margin-top: center;
    margin: 150px 50px 0px 250px;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
    width: 50%;
    background-color: white;
    opacity: 0.8;
    font-size: 4em;
     display: -webkit-flex;       /* Places elements next to eachother */
    -webkit-align-items: center; /* Places elements next to eachother */
}

.search-icon {
    width: 50px;
    height: 50px;
}

/* -------------------------------------------Footer -----------------------------------------------*/

.footer {
	margin:auto; /* center div in the page */
	width: 450px;	
}

.footer>a {
    width: 100%;
	font-size:0.9em;
	font-family: 'Play', sans-serif;
    display: -webkit-flex;       /* Places elements next to eachother */
    -webkit-align-items: center; /* Places elements next to eachother */
    align-items: center;
    background-color: #F0F0F0; /*Light Grey */
}

.icon-container>a {
    float: left;
    padding-right: 60px;
} 

/* -------------------------------------------Login box -----------------------------------------------*/

.login-box {
    
    margin: auto; /* center div in the page */
    width: 200px;
    background-color: #00BFFF;
    padding: 20px;
    border-style: solid; 
    opacity: 0.9;
    text-align: center;
    border-radius: 10px; /* button roundness */
    border-color: white;
    border-width: thick;
}

/* -------------------------------------------responsiveness -----------------------------------------------*/

@media all and (max-width: 1024px) {

	/* applied when the window size is less than 1024px. Used for a smaller desktop type. */
    
	.header, .main, .footer>div  {
	margin:none;
	width:auto;
	}

	.menu-header, .button {
		padding:0px 10px;
	}

	.main-header {
		padding: 10px;
	}

}

@media all and (max-width: 640px) {

    /* applied when the window size is less than 640px. */
    
    .button {
    	margin-top:10px;
    }

    .button>a {
    	display:block;
    	width:50%;
    	background-color:inherit;
    }
    .button>a:hover {
    	background-color:inherit;
    	color:inherit;
    }
    .button>a.on {
    	background-color: #000;
    	color:#fff;
    }

    .search-box {
    	display:block;
    	width:auto;
    	margin:10px;
    }
    .search-box img {
    	margin-top:5px;
    	width:100%;
    }
    
}